<!DOCTYPE html>
<html>
<head>
  <title>star-hpc-mon3</title>
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/prototype/1.7.3.0/prototype.js"></script>
 <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="{{url_for('static', filename='main.js') }}"></script>

<!-- executes JS function below upon reload -->
<script>  $(document).ready(function() {   pageLoadFunction();  });  </script>


</head>
<body>

  <div class="container">

    <h1>mngoDb-STAR  ver4  <br> </h1>

 &nbsp;&nbsp;&nbsp;
    URL:  <a href="{{ url_for('index') }}"> goto home & reload </a>


 &nbsp;&nbsp;&nbsp;
client name ={{ user_id }}, <br>timeStartDaemon={{timeStartDaemon }} =(local client time) <br>
timeNowClient=<text id=timeNowClient > bXb </text> =(local client time)

<hr>


Query MongoDb  for

&nbsp;&nbsp;&nbsp;
STAR prod:  <a href="{{ url_for('getStar', name='Jan') }}">Jan-prod</a>
&nbsp;&nbsp;&nbsp;
<a href="{{ url_for('getStar', name='Px2id') }}">Px2id-prod</a>

&nbsp;&nbsp;&nbsp;
<a href="{{ url_for('getStar', name='Px3id') }}">Px3id-prod</a>

<br>

Plot collections: &nbsp; &nbsp; &nbsp; 
   <a href="{{ url_for('plotter', name='daq_files_watcher') }}"> daq_files_watcher </a>   &nbsp; &nbsp; &nbsp; 
  <a href="{{ url_for('plotter', name='submitter') }}"> submitter </a>   &nbsp; &nbsp; &nbsp; 
  <a href="{{ url_for('plotter', name='jobs_validator') }}"> jobs_validator </a>   &nbsp; &nbsp; &nbsp; 

  <a href="{{ url_for('plotter', name='x') }}"> x </a>   &nbsp; &nbsp; &nbsp; 

<hr>


DB output:

Table, info= {{dbInfo  }}=<br>
<!-- Raw , deam2= {{dbDaem2  }}=<br>   Nice Table -->

<table border=1>
{% for daemD in  dbDaem2  %}

 {% if daemD.alarm  %}
  <tr BGCOLOR="#ff00ff">
    <text style="color:red;">
    {% else %}
    <tr >  <text style="color:blue;">
    {% endif %}



<th>{{ daemD.name }} <th> rec cnt &nbsp;{{ daemD.cnt }} <th> age/sec &nbsp;{{daemD.ageS }} 
   <tr> <th> 
   {% for key in daemD.body %}
      <td> {{ key}}  {{ daemD.body[key] }}
     {% endfor %}

{% endfor %}

</table>

<hr>
DEBUG/Junk
<br>
&nbsp;&nbsp;&nbsp;

    Flask-URL:  <a href="{{ url_for('hi', name='XYZ') }}"> good Hi</a>
&nbsp;&nbsp;&nbsp;

</body>
</html>
