<!DOCTYPE html>
<html>
<head>
  <title>star-mon2</title>
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/prototype/1.7.3.0/prototype.js"></script>

  <script type="text/javascript" src="{{url_for('static', filename='main.js') }}"></script>


</head>
<body>

  <div class="container">

    <h1>mngoDb-STAR  ver2  <br> </h1>

Monitoring controlls :  
STAR prod-ID: <input   id="inpProdId"/>, &nbsp;&nbsp;&nbsp; 
hearbeat max (sec): <input   id="inpAgeSec" />, &nbsp;&nbsp;&nbsp;
 ref-time (hour): <input   id="inpRefTime" /> &nbsp;&nbsp;&nbsp;

 <button id="accSetup"> accept new </button> (all must be filled)<br>
 
<hr>
Current setup : 
STAR prod-ID=<text id="starProdId"> Jan</text> (sec),  &nbsp;&nbsp;&nbsp;
ageSecH=<text id="ageSecH"> 70</text> (sec),  &nbsp;&nbsp;&nbsp;
 
refTime=<text id="refTimeHour"> 1.3</text> (hour)  
 &nbsp;&nbsp;&nbsp;
client name ={{ user_id }}, <br>timeStartDaemon={{timeStartDaemon }} (local client time) <br>
timeNowClient=<text id=timeNowClient > bXb </text> (local client time)

<hr>
Query MongoDb  for

&nbsp;&nbsp;&nbsp;
    URL:  <a href="{{ url_for('getStar_Jan') }}"> Jan-prod</a>
&nbsp;&nbsp;&nbsp;

    URL:  <a href="{{ url_for('getStar_Px0id') }}"> Px0id-prod</a>
&nbsp;&nbsp;&nbsp;

    URL:  <a href="{{ url_for('getStar_Px1id') }}"> Px1id-prod</a>
&nbsp;&nbsp;&nbsp;


<hr>
DB output:
<br>
Table, info= {{dbInfo  }}=<br>

   <hr>
   dbData  formated :
<table border=1>
{% for key in  dbDaem  %}
  <tr> <th>{{ key }} <td> {{ dbDaem[key] }}
{% endfor %}

</table?



</body>
</html>
